name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build with Buildozer
      uses: ArtemSBulgakov/buildozer-action@v1
    - name: Upload APK
      uses: actions/upload-artifact@v1
      with:
        name: package
        path: bin/*.apk